name: Security Scans (Trivy)
on:
  push:
    branches:
      - '**'

  pull_request:
    branches:
      - '**'

    
jobs:
  trivy-scan:
    name: Trivy Security Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
# Step 7: Install Trivy
      - name: Set up Trivy
        uses: aquasecurity/trivy-action@v0.20.0
        with:
          version: latest

       # Secret Scanning
      # -------------------------
      - name: Trivy Secret Scan
        run: |
          trivy fs \
            --scanners secret \
            --severity HIGH,CRITICAL \
            --exit-code 1 \
            .

              # -------------------------
      # Vulnerability Scanning
      # -------------------------
      - name: Trivy Vulnerability Scan
        run: |
          trivy fs \
            --scanners vuln \
            --severity HIGH,CRITICAL \
            --exit-code 1 \
            .

             # Misconfiguration / PCI Checks
      # -------------------------
      - name: Trivy Config Scan
        run: |
          trivy fs \
            --scanners config \
            --severity HIGH,CRITICAL \
            --exit-code 1 \
            .


            
