name: Security Scans (Trivy)
on:
  push:
    branches:
      - '**'

  pull_request:
    branches:
      - '**'
     
    
jobs:
  trivy-scan:
    name: Trivy Security Scan
    runs-on: ubuntu-latest

 # For trivy to store download in DB
    env:
      TRIVY_CACHE_DIR: ~/.cache/trivy

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
 # Step: Install Trivy
      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install wget apt-transport-https gnupg lsb-release -y
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy -y

       # Restore / Save Trivy DB cache
      - name: Cache Trivy vulnerability database
        uses: actions/cache@v4
        with:
          path: ~/.cache/trivy
          key: ${{ runner.os }}-trivy-db
          restore-keys: |
            ${{ runner.os }}-trivy-

      # Download DB only if cache is empty
      - name: Download Trivy DB
        run: |
          trivy --cache-dir ~/.cache/trivy --download-db-only

   # Secret Scanning
      - name: Trivy Secret Scan
        run: |
          trivy fs \
            --scanners secret \
            --severity HIGH,CRITICAL \
            --exit-code 1 \
            .

              # -------------------------
      # Vulnerability Scanning
      - name: Trivy Vulnerability Scan
        run: |
          trivy fs \
            --scanners vuln \
            --severity HIGH,CRITICAL \
            --exit-code 1 \
            .

      - name: Trivy Misconfiguration (PCI) Scan
        run: |
         trivy fs \
         --scanners misconfig \
         --misconfig-scanners=dockerfile,kubernetes,terraform,cloudformation,yaml,json \
         --config-check ./policies \
         --severity MEDIUM,HIGH,CRITICAL \
         --exit-code 1 \
         .

# Secret scanning
# trivy fs --scanners secret --severity MEDIUM,HIGH,CRITICAL --exit-code 1 .

# Vulnerabilities (OS/dependencies)
# trivy fs --scanners vuln --severity HIGH,CRITICAL --exit-code 1 .

# trivy config --misconfig-scanners=terraform,dockerfile .

# # Config scanning (with custom rules for generic configs)
# trivy fs --scanners config --config .trivy-config.yaml --exit-code 1 .





            
